<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>antd-pro</title>
    <!-- <script src="http://g.alicdn.com/dingding/dinglogin/0.0.5/ddLogin.js"></script> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
